<h1>Log in</h1>

<form action="/session" method="POST">
  <label for="session_username_id">Username</label>
  <input type="text" name="user[user_name]" id="session_username_id">
 <br>

  <label for="session_password_id">Password</label>
  <input type="text" name="user[password]" id="session_password_id">

<input type="submit" value="Log in!">




</form>
